nav {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 10px 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #ff0000;
  }